<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
  <% if movie.poster_image.attached? %>
    <%= image_tag movie.poster_image,  style: "width: 150px; height: auto;" %>
  <% else %>
    <p>No poster image available</p>
  <% end %>
  </p>

</div>
