<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @user.user_type %>
  </p>

  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, style: "width: 100px; height: 100px; border-radius: 50%;" %>
  <% else %>
    <p>No avatar uploaded</p>
  <% end %>

</div>
